.landingPage2Opsi2Child,
.landingPage2Opsi2Item {
  position: absolute;
  top: 100px;
  left: 225px;
  background-color: var(--color-white);
  width: 410px;
  height: 620px;
}
.landingPage2Opsi2Item {
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 1280px;
  height: 572px;
}
.weCode {
  margin: 0;
}
.weCodeWeContainer {
  position: absolute;
  top: 227px;
  left: 108px;
  font-size: var(--font-size-45xl);
  line-height: 72px;
  font-weight: 600;
}
.twiscodeSpecializesInContainer {
  position: absolute;
  top: 422px;
  left: 169px;
  line-height: 24px;
  font-weight: 300;
}
.twiscodeTwiscodeAndreetwiscContainer,
.workServiceContainer {
  position: absolute;
  top: 3465px;
  left: 579px;
  line-height: 32px;
  font-weight: 500;
  color: var(--color-darkgray);
}
.twiscodeTwiscodeAndreetwiscContainer {
  top: 3455px;
  left: 990px;
  line-height: 45px;
}
.landingPage2Opsi2Inner {
  position: absolute;
  top: 3651px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0-2px 4px rgba(0, 0, 0, 0.1);
  width: 1280px;
  height: 98px;
}
.vectorIcon {
  position: absolute;
  top: 214.89px;
  left: 547.81px;
  width: 598.88px;
  height: 363.34px;
}
.company,
.contactUs,
.location,
.twiscodePteLtd {
  position: absolute;
  top: 3393px;
  left: 201px;
  font-size: var(--font-size-5xl);
  line-height: 72px;
  font-weight: 600;
}
.company,
.contactUs,
.twiscodePteLtd {
  top: 3664px;
  left: 108px;
  font-size: var(--font-size-lg);
}
.company,
.contactUs {
  top: 3393px;
  left: 579px;
  font-size: var(--font-size-5xl);
}
.contactUs {
  left: 950px;
}
.rectangleIcon {
  position: absolute;
  top: 3470px;
  left: 108px;
  width: 360px;
  height: 148px;
  object-fit: cover;
}
.rectangleDiv {
  position: absolute;
  top: 3482px;
  left: 122px;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 220px;
  height: 75px;
}
.jlKayoonSurabaya,
.twiscode2 {
  position: absolute;
  top: 3474px;
  left: 142px;
  font-size: var(--font-size-5xl);
  line-height: 72px;
  font-weight: 600;
}
.jlKayoonSurabaya {
  top: 3502px;
  font-size: var(--font-size-xs);
}
.landingPage2Opsi2Child1 {
  top: 3465px;
  left: 953px;
  border-radius: var(--br-8xs);
}
.landingPage2Opsi2Child1,
.landingPage2Opsi2Child2,
.landingPage2Opsi2Child3 {
  position: absolute;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.landingPage2Opsi2Child2 {
  top: 3511px;
  left: 955px;
  border-radius: var(--br-8xs);
}
.landingPage2Opsi2Child3 {
  top: 3557px;
  left: 954px;
}
.ellipseDiv {
  position: absolute;
  top: 439px;
  left: 109px;
  border-radius: 50%;
  background-color: var(--color-lightgreen);
  box-shadow: 0 0 20px #9fd685;
  width: 35px;
  height: 35px;
}
.mdiPlayArrowIcon {
  position: absolute;
  top: 444px;
  left: 115px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.landingPage2Opsi2Child4 {
  position: absolute;
  top: 772px;
  left: 183px;
  border-radius: var(--br-3xs);
  width: 440px;
  height: 517px;
  object-fit: cover;
}
.landingPage2Opsi2Child5 {
  position: absolute;
  top: 798px;
  left: 430px;
  background-color: var(--color-white);
  width: 163px;
  height: 60px;
}
.viewDetail {
  position: absolute;
  top: 792px;
  left: 462px;
  font-size: var(--font-size-lg);
  line-height: 72px;
  color: var(--color-black);
}
.landingPage2Opsi2Child6 {
  position: absolute;
  top: 1411px;
  left: 560px;
  width: 720px;
  height: 405px;
  object-fit: cover;
}
.landingPage2Opsi2Child7 {
  position: absolute;
  top: 1468px;
  left: 224px;
  background-color: var(--color-white);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 508px;
  height: 283px;
}
.howWeWork {
  position: absolute;
  top: 1496px;
  left: 275px;
  font-size: var(--font-size-17xl);
  line-height: 72px;
  font-weight: 600;
  display: inline-block;
  width: 498px;
}
.letsDiscussWhatContainer {
  position: absolute;
  top: 1572px;
  left: 275px;
  font-size: var(--font-size-lg);
  line-height: 32px;
  font-weight: 500;
  color: var(--color-darkgray);
}
.landingPage2Opsi2Child8 {
  position: absolute;
  top: 1666px;
  left: 275px;
  background-color: var(--color-darkslategray-100);
  width: 203px;
  height: 60px;
}
.letsHaveA {
  position: absolute;
  top: 1680px;
  left: 309px;
  line-height: 32px;
  font-weight: 500;
  color: var(--color-white);
}
.andreeWijaya,
.ceocto,
.ourTeam {
  position: absolute;
  top: 2505px;
  left: 527px;
  font-size: var(--font-size-17xl);
  line-height: 72px;
  font-weight: 600;
}
.andreeWijaya,
.ceocto {
  top: 2885px;
  left: 528px;
  font-size: var(--font-size-5xl);
}
.ceocto {
  top: 2927px;
  left: 561px;
  color: var(--color-darkgray);
}
.elisabethBe {
  top: 2859px;
  left: 269px;
}
.cfo,
.coo,
.elisabethBe,
.sanjayaWahono {
  position: absolute;
  font-size: var(--font-size-5xl);
  line-height: 72px;
  font-weight: 600;
}
.coo {
  top: 2901px;
  left: 304px;
  color: var(--color-darkgray);
}
.cfo,
.sanjayaWahono {
  top: 2859px;
  left: 816px;
}
.cfo {
  top: 2901px;
  left: 890px;
  color: var(--color-darkgray);
}
.maskGroupIcon {
  position: absolute;
  top: 2627px;
  left: 253px;
  width: 753px;
  height: 250px;
  object-fit: cover;
}
.groupIcon {
  position: absolute;
  top: 3029px;
  left: 576px;
  width: 83px;
  height: 10px;
}
.ourCustomersAreContainer {
  position: absolute;
  top: 1972px;
  left: 456px;
  font-size: var(--font-size-17xl);
  line-height: 45px;
  font-weight: 600;
  text-align: center;
}
.image1Icon,
.image2Icon {
  position: absolute;
  top: 2118px;
  left: 235px;
  width: 136px;
  height: 71px;
  object-fit: cover;
}
.image2Icon {
  top: 2116px;
  left: 387px;
  width: 209px;
  height: 73px;
}
.image3Icon,
.image4Icon,
.image5Icon,
.image6Icon {
  position: absolute;
  top: 2123px;
  left: 630px;
  width: 120px;
  height: 60.5px;
  object-fit: cover;
}
.image4Icon,
.image5Icon,
.image6Icon {
  top: 2118px;
  left: 784px;
  height: 73.56px;
}
.image5Icon,
.image6Icon {
  top: 2103px;
  left: 932px;
  height: 97.1px;
}
.image6Icon {
  top: 2205px;
  left: 417px;
  width: 156px;
  height: 80px;
}
.seeMore {
  position: absolute;
  top: 2417px;
  left: 607px;
  line-height: 45px;
  color: var(--color-dimgray);
  text-align: center;
  display: inline-block;
  width: 66px;
  height: 38px;
}
.joinOurTeam {
  position: absolute;
  top: 3094px;
  left: 219px;
  font-size: var(--font-size-17xl);
  line-height: 72px;
  font-weight: 600;
  color: var(--color-black);
}
.landingPage2Opsi2Child9 {
  position: absolute;
  top: 3183px;
  left: 217px;
  width: 400px;
  height: 130px;
  object-fit: cover;
}
.loremIpsumDolor {
  position: absolute;
  top: 3139px;
  left: 668px;
  line-height: 20px;
  color: var(--color-black);
  display: inline-block;
  width: 380px;
  height: 139px;
}
.landingPage2Opsi2Child10 {
  position: absolute;
  top: 3263px;
  left: 666px;
  background-color: var(--color-darkslategray-200);
  width: 150px;
  height: 50px;
}
.apply {
  top: 3252px;
  left: 714px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.apply,
.mobileApplication,
.whatWeDo {
  position: absolute;
  line-height: 72px;
  font-weight: 600;
}
.whatWeDo {
  top: 774px;
  left: 701px;
  font-size: var(--font-size-17xl);
}
.mobileApplication {
  top: 831px;
  left: 707px;
}
.mdiAndroidIcon {
  position: absolute;
  top: 859px;
  left: 673px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.buildingMobileApplicationsContainer {
  position: absolute;
  top: 881px;
  left: 707px;
  font-size: var(--font-size-xs);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
}
.webApplication {
  position: absolute;
  top: 970px;
  left: 703px;
  line-height: 72px;
  font-weight: 600;
}
.weCanBuildContainer {
  position: absolute;
  top: 1021px;
  left: 703px;
  font-size: var(--font-size-xs);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
}
.uiuxDesign {
  position: absolute;
  top: 1133px;
  left: 701px;
  line-height: 72px;
  font-weight: 600;
}
.allThingsAreContainer {
  position: absolute;
  top: 1183px;
  left: 701px;
  font-size: var(--font-size-xs);
  line-height: 24px;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
}
.mdiViewQuiltIcon,
.mdiWebIcon {
  position: absolute;
  top: 998px;
  left: 673px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.mdiViewQuiltIcon {
  top: 1161px;
}
.hubbleIcon,
.incomeIcon {
  position: absolute;
  top: 2204px;
  left: 235px;
  width: 152px;
  height: 82px;
  object-fit: cover;
}
.incomeIcon {
  top: 2290px;
  width: 164px;
  height: 97px;
}
.jawaPosIcon,
.lazadaIcon,
.unairIcon {
  position: absolute;
  top: 2299px;
  left: 424px;
  width: 135px;
  height: 83px;
  object-fit: cover;
}
.jawaPosIcon,
.unairIcon {
  top: 2293px;
  left: 597px;
  width: 204px;
  height: 92px;
}
.jawaPosIcon {
  top: 2300px;
  left: 824px;
  width: 228px;
  height: 79px;
}
.cbnIcon,
.ciputraIcon,
.headerTwiscode1 {
  position: absolute;
  top: 2191px;
  left: 628px;
  width: 162px;
  height: 105px;
  object-fit: cover;
}
.ciputraIcon,
.headerTwiscode1 {
  top: 2204px;
  left: 827px;
  width: 212px;
  height: 75px;
}
.headerTwiscode1 {
  top: 137px;
  left: 491px;
  width: 656px;
  height: 525px;
}
.landingPage2Opsi2Child11 {
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  background-color: var(--color-white);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.02);
  width: 1280px;
  height: 100px;
}
.landingPage2Opsi2Child12,
.logoTwiscode3 {
  position: absolute;
  top: 67.5px;
  left: calc(50% - 95px);
  width: 29px;
  height: 1px;
}
.logoTwiscode3 {
  top: 20px;
  left: calc(50% - 531px);
  width: 120px;
  height: 60px;
  object-fit: cover;
}
.career,
.contact1,
.home,
.ourCustomer,
.service1,
.team1,
.work1 {
  position: absolute;
  top: 44px;
  left: calc(50% - 96px);
  line-height: 16px;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 43px;
  height: 12px;
}
.career,
.contact1,
.ourCustomer,
.service1,
.team1,
.work1 {
  left: calc(50% - 21px);
  width: 39px;
}
.career,
.contact1,
.ourCustomer,
.service1,
.team1 {
  left: calc(50% + 49px);
  width: 52px;
}
.career,
.contact1,
.ourCustomer,
.team1 {
  left: calc(50% + 132px);
  width: 100px;
}
.career,
.contact1,
.team1 {
  left: calc(50% + 253px);
  width: 45px;
}
.career,
.contact1 {
  left: calc(50% + 327px);
  width: 52px;
}
.contact1 {
  left: calc(50% + 407px);
  width: 59px;
}
.searchIcon {
  position: absolute;
  top: 40px;
  left: calc(50% + 530px);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.career1 {
  position: absolute;
  top: 44px;
  left: calc(50% + 327px);
  line-height: 16px;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 52px;
  height: 12px;
  cursor: pointer;
}
.landingPage2Opsi2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3749px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
